[package]
name = "ipld_hamt"
description = "Sharded IPLD HashMap implementation."
version = "2.0.0"
license = "MIT OR Apache-2.0"
authors = ["ChainSafe Systems <info@chainsafe.io>"]
edition = "2018"
repository = "https://github.com/ChainSafe/forest"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
byteorder = "1.3.2"
cid = { version = "0.7", default-features = false, features = ["serde-codec"] }
serde_bytes = { package = "cs_serde_bytes", version = "0.12" }
thiserror = "1.0"
sha2 = "0.10"
once_cell = "1.5"
forest_hash_utils = "0.1"
fvm_shared = { path = "../../shared" }
blockstore = { version = "0.1.0", path = "../../lib/blockstore" }
anyhow = "1.0.51"

[features]
identity = []
# This feature should just be used for testing (ignoring links that don't exist in store)
ignore-dead-links = []

[dev-dependencies]
hex = "0.4.2"
criterion = "0.3.3"
unsigned-varint = "0.7"

[[bench]]
name = "hamt_beckmark"
path = "benches/hamt_benchmark.rs"
harness = false
