[submodule "testing/conformance/test-vectors"]
	path = testing/conformance/test-vectors
	url = https://github.com/filecoin-project/fvm-test-vectors
	shallow = 1
[submodule "testing/fuzz-corpora"]
	path = testing/fuzz-corpora
	url = https://github.com/filecoin-project/ref-fvm-fuzz-corpora.git
	shallow = 1
