[workspace]
resolver = "2"
members = [
    "fvm",
    "sdk",
    "shared",
    "testing/conformance",
    "testing/integration",
    "testing/calibration/shared",
    "testing/test_actors",
    "testing/test_actors/actors/*",
    "tools/fvm-bench",
]

[workspace.dependencies]
cid = { version = "0.10.1", default-features = false }
multihash = { version = "0.18.1", default-features = false }
wasmtime = { version = "12.0.2", default-features = false, features = ["cranelift", "pooling-allocator", "parallel-compilation"] }
wasmtime-environ = { version = "12.0.2" }
wasmtime-runtime = { version = "12.0.2", default-features = false }

[profile.actor]
inherits = "release"
panic = "abort"
overflow-checks = true
lto = true
opt-level = "z"
#strip = true

[profile.wasm]
inherits = "release"
panic = "abort"
overflow-checks = false
lto = true
opt-level = "z"
strip = true
codegen-units = 1
incremental = false
