[workspace]
members = [
    "fvm",
    "sdk",
    "types",
    "shared",
    "lib/*",
    "actor",
    "examples/*",
    "examples/blockstore-cgo/user",
]
exclude = [
    "examples/blockstore-cgo"
]

default-members = [
    "fvm",
    "sdk",
    "types",
    "shared",
    "lib/*",
    "actor",
    # don't build the examples by default, as they require a specific target and profile.
    # build them with cargo make examples
    # "examples/*"
]

[patch.crates-io]
multihash = { git = "https://github.com/multiformats/rust-multihash", branch = "next" }
cid = { git = "https://github.com/multiformats/rust-cid", branch = "next" }
fil_types = { path = "./types" }
forest_address = { path = "./vm/address" }
forest_bigint = { path = "./utils/bigint" }
forest_bitfield = { path = "./utils/bitfield" }
forest_cid = { path = "./ipld/cid" }
forest_ipld = { path = "./ipld" }
forest_encoding = { path = "./encoding" }
forest_hash_utils = { path = "./utils/hash_utils" }
forest_json_utils = { path = "./utils/json_utils" }
commcid = { path = "./utils/commcid" }
forest_vm = { path = "./vm" }
fvm_shared = { path = "./shared" }

[profile.actor]
inherits = "release"
panic = "abort"
overflow-checks = true
lto = true
opt-level = "z"
#strip = true
