[workspace]
members = [
    "fvm",
    "sdk",
    "shared",
    "lib/*",
    "actor",
    "examples/*",
    "examples/blockstore-cgo/user",

    "ipld",
    "ipld/blockstore",
    "ipld/hamt",
    "ipld/amt",
]
exclude = [
    "examples/blockstore-cgo"
]

default-members = [
    "fvm",
    "sdk",
    "shared",
    "lib/*",
    "actor",
    # don't build the examples by default, as they require a specific target and profile.
    # build them with cargo make examples
    # "examples/*"
]

[patch.crates-io]
multihash = { git = "https://github.com/multiformats/rust-multihash", branch = "next" }
cid = { git = "https://github.com/multiformats/rust-cid", branch = "next" }
forest_ipld = { path = "./ipld" }
ipld_blockstore = { path = "./ipld/blockstore" }
fvm_shared = { path = "./shared" }

[profile.actor]
inherits = "release"
panic = "abort"
overflow-checks = true
lto = true
opt-level = "z"
#strip = true
