[workspace]
resolver = "2"
members = [
    "fvm",
    "sdk",
    "shared",
    "ipld/*",
    "ipld/amt/fuzz",
    "ipld/hamt/fuzz",
    "ipld/kamt/fuzz",
    "testing/calibration/shared",
    "testing/conformance",
    "testing/common_fuzz",
    "testing/common_fuzz/fuzz",
    "testing/integration",
    "testing/test_actors",
    "testing/test_actors/actors/*",
    "tools/fvm-bench",
]

[workspace.package]
version = "4.4.3"
license = "MIT OR Apache-2.0"
edition = "2021"
repository = "https://github.com/filecoin-project/ref-fvm"
authors = ["Protocol Labs", "Filecoin Core Devs"]

[workspace.dependencies]
# common
serde = { version = "1.0.164", default-features = false, features = ["derive"] }
thiserror = "1.0.40"
anyhow = "1.0.71"
rand = "0.8.5"
rand_chacha = "0.3.0"
serde_json = "1.0.99"
serde_tuple = "0.5.0"
byteorder = "1.4.3"
hex = "0.4.3"
num-traits = { version = "0.2.14", default-features = false }
num-derive = "0.4.0"
lazy_static = "1.4.0"
log = "0.4.19"
futures = "0.3.28"

# IPLD/Encoding
cid = { version = "0.10.1", default-features = false }
multihash = { version = "0.18.1", default-features = false }
libipld = { version = "0.16.0",  features = ["serde-codec"] }
libipld-core = { version = "0.16.0", features = ["serde-codec"] }

# crypto
blake2b_simd = "1.0.1"
libsecp256k1 = { version = "0.7.1" }
bls-signatures = { version = "0.15", default-features = false }

# wasmtime
wasmtime = {version = "25.0.2", default-features = false, features = ["cranelift", "pooling-allocator", "parallel-compilation", "runtime"] }
wasmtime-environ = "25.0.2"

# misc
libfuzzer-sys = "0.4"
arbitrary = "1.3.0"
itertools = "0.13.0"
once_cell = "1.18.0"
unsigned-varint = "0.8.0"
ambassador = "0.4.0"

# dev/tools/tests
criterion = "0.5.1"
quickcheck = "1.0.0"
quickcheck_macros = "1.0.0"
minstant = "0.1.3"
coverage-helper = "0.2.0"

# workspace (FVM)
fvm = { path = "fvm", version = "~4.4.3", default-features = false }
fvm_shared = { path = "shared", version = "~4.4.3", default-features = false }
fvm_sdk = { path = "sdk", version = "~4.4.3" }
fvm_integration_tests = { path = "testing/integration", version = "~4.4.3" }

# workspace (other)
fvm_ipld_amt = { path = "ipld/amt", version = "0.6.2" }
fvm_ipld_hamt = { path = "ipld/hamt", version = "0.9.0" }
fvm_ipld_kamt = { path = "ipld/kamt", version = "0.3.0" }
fvm_ipld_car = { path = "ipld/car", version = "0.7.1" }
fvm_ipld_blockstore = { path = "ipld/blockstore", version = "0.2.1" }
fvm_ipld_bitfield = { path = "ipld/bitfield", version = "0.6.0" }
fvm_ipld_encoding = { path = "ipld/encoding", version = "0.4.0" }
fvm_gas_calibration_shared = { path = "testing/calibration/shared" }
fvm_test_actors = { path = "testing/test_actors" }

# Same as in the built-in actors repo
[profile.wasm]
inherits = "release"
panic = "unwind"
overflow-checks = true
lto = "thin"
opt-level = 3
strip = true
codegen-units = 1
incremental = false
