[package]
name = "fvm_integration_tests"
description = "Filecoin Virtual Machine integration tests framework"
version = "3.0.0-alpha.3"
edition = "2021"
license = "MIT OR Apache-2.0"
authors = ["Protocol Labs", "Filecoin Core Devs", "Polyphene"]
repository = "https://github.com/filecoin-project/ref-fvm"

[dependencies]
fvm = { version = "3.0.0-rc.1", path = "../../fvm", default-features = false, features = ["testing"] }
fvm_shared = { version = "3.0.0-alpha.20", path = "../../shared", features = ["testing"] }
fvm_ipld_hamt = { version = "0.6.1", path = "../../ipld/hamt" }
fvm_ipld_amt = { version = "0.5.1", path = "../../ipld/amt" }
fvm_ipld_car = { version = "0.6.0", path = "../../ipld/car" }
fvm_ipld_blockstore = { version = "0.1.1", path = "../../ipld/blockstore" }
fvm_ipld_encoding = { version = "0.3.3", path = "../../ipld/encoding" }

anyhow = "1.0.47"
cid = { version = "0.8.5", default-features = false }
futures = "0.3.19"
multihash = { version = "0.16.1", default-features = false }
num-traits = "0.2"
lazy_static = "1.4.0"
libsecp256k1 = "0.7.0"
rand = "0.8.5"
rand_chacha = "0.3"
serde = { version = "1.0", features = ["derive"] }
serde_tuple = "0.5"
serde_repr = "0.1"
thiserror = "1.0.30"

[dependencies.wasmtime]
version = "2.0.2"
default-features = false
features = ["cranelift", "parallel-compilation"]

[dev-dependencies]
wat = "1.0.51"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
fil_hello_world_actor = { path = 'tests/fil-hello-world-actor' }
fil_stack_overflow_actor = { path = 'tests/fil-stack-overflow-actor' }
fil_ipld_actor = { path = 'tests/fil-ipld-actor' }
fil_malformed_syscall_actor = { path = "tests/fil-malformed-syscall-actor" }
fil_integer_overflow_actor = { path = "tests/fil-integer-overflow-actor" }
fil_syscall_actor = { path = "tests/fil-syscall-actor" }
fil_address_actor = { path = "tests/fil-address-actor" }
fil_events_actor = { path = "tests/fil-events-actor" }
fil_exit_data_actor = { path = "tests/fil-exit-data-actor" }
fil_gaslimit_actor = { path = "tests/fil-gaslimit-actor" }
fil_readonly_actor = { path = "tests/fil-readonly-actor" }
fil_create_actor = { path = "tests/fil-create-actor" }
fil_oom_actor = { path = 'tests/fil-oom-actor' }
hex = "0.4.3"

actors-v10 = { package = "fil_builtin_actors_bundle", git = "https://github.com/filecoin-project/builtin-actors", branch = "next", features = ["m2-native"] }

[features]
default = []
m2-native = []
