[package]
name = "fvm"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["lib"]

[dependencies]
anyhow = "1.0.47"
blockstore = { path = "../lib/blockstore" }
cid = "0.7.0"
multihash = "0.15.0"
thiserror = "1.0.30"
wasmtime = "0.31.0"
