[package]
name = "fvm"
description = "Filecoin Virtual Machine reference implementation"
version = "3.0.0-alpha.17"
license = "MIT OR Apache-2.0"
authors = ["Protocol Labs", "Filecoin Core Devs"]
edition = "2021"
repository = "https://github.com/filecoin-project/ref-fvm"
keywords = ["filecoin", "web3", "wasm"]

[lib]
crate-type = ["lib"]

[dependencies]
anyhow = { version = "1.0.47", features = ["backtrace"] }
thiserror = "1.0.30"
num-traits = "0.2"
derive_builder = "0.11.2"
num-derive = "0.3.3"
cid = { version = "0.8.5", default-features = false, features = ["serde-codec"] }
multihash = { version = "0.16.3", default-features = false }
fvm_shared = { version = "3.0.0-alpha.15", path = "../shared", features = ["crypto"] }
fvm_ipld_hamt = { version = "0.6.1", path = "../ipld/hamt" }
fvm_ipld_amt = { version = "0.5.0", path = "../ipld/amt" }
fvm_ipld_blockstore = { version = "0.1.1", path = "../ipld/blockstore" }
fvm_ipld_encoding = { version = "0.3.2", path = "../ipld/encoding" }
serde = { version = "1.0", features = ["derive"] }
serde_tuple = "0.5"
serde_repr = "0.1"
lazy_static = "1.4.0"
derive-getters = "0.2.0"
derive_more = "0.99.17"
replace_with = "0.1.7"
filecoin-proofs-api = { version = "12", default-features = false }
rayon = "1"
num_cpus = "1.13.0"
log = "0.4.14"
byteorder = "1.4.3"
blake2b_simd = "1.0.0"
fvm-wasm-instrument = "0.4.0"
yastl = "0.1.2"
arbitrary = { version = "1.1.0", optional = true, features = ["derive"] }
rand = "0.8.5"
quickcheck = { version = "1", optional = true }
once_cell = "1.5"
minstant = "0.1.2"
libipld-core = { version = "0.13.1", features = ["serde-codec"] }

[dev-dependencies]
pretty_assertions = "1.2.1"
fvm = { path = ".", features = ["testing"], default-features = false }

[dependencies.wasmtime]
version = "1.0.2"
default-features = false
features = ["cranelift", "pooling-allocator", "parallel-compilation", "memory-init-cow"]

[dependencies.wasmtime-environ]
version = "1.0.2"

[dependencies.wasmtime-runtime]
version = "1.0.1"
default-features = false

[features]
default = ["opencl"]
opencl = ["filecoin-proofs-api/opencl"]
cuda = ["filecoin-proofs-api/cuda"]
testing = []
arb = ["arbitrary", "quickcheck"]
m2-native = []
