[package]
name = "fvm_shared"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_bytes = { package = "cs_serde_bytes", version = "0.12" }
# TODO remove fork in future (allowing non utf8 strings to be cbor deserialized)
serde_cbor = { package = "cs_serde_cbor", version = "0.12", features = ["tags"]}
serde_tuple = "0.5"
serde_repr = "0.1"
chrono = "0.4.9"
blake2b_simd = "0.5.9"
leb128 = "0.2.1"
thiserror = "1.0"
num-traits = "0.2"
num-derive = "0.3"
num-bigint = "0.3"
num-integer = "0.1"
data-encoding = "2.3.2"
data-encoding-macro = "0.1.12"
once_cell = "1.7.2"
lazy_static = "1.4.0"
log = "0.4.8"
cid = { version = "0.7", features = ["serde-codec"] }
libsecp256k1 = "0.6"
bls-signatures = { version = "0.9", default-features = false }
## TODO maybe shared shouldn't be depending on filecoin proofs.
filecoin-proofs-api = { version = "9", features = ["blst"], default_features = false, optional = true }

[dev-dependencies]
rand = "0.7.3"
rand_chacha = "0.2.2"
serde_json = "1.0.56"

[features]
default = ["blst", "proofs", "filecoin-proofs-api"]
proofs = []
blst = ["bls-signatures/blst"]
pairing = ["bls-signatures/pairing"]

