[package]
name = "fvm_shared"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_bytes = { package = "cs_serde_bytes", version = "0.12" }
# TODO remove fork in future (allowing non utf8 strings to be cbor deserialized)
serde_cbor = { package = "cs_serde_cbor", version = "0.12", features = ["tags"]}
serde_tuple = "0.5"
serde_repr = "0.1"
chrono = "0.4.9"
blake2b_simd = "1.0.0"
thiserror = "1.0"
num-traits = "0.2"
num-derive = "0.3"
num-bigint = "0.4"
num-integer = "0.1"
data-encoding = "2.3.2"
data-encoding-macro = "0.1.12"
lazy_static = "1.4.0"
log = "0.4.8"
cid = { version = "0.7", default-features = false, features = ["serde-codec"] }
multihash = { version = "0.15", default-features = false, features = ["blake2b"] }
unsigned-varint = "0.7.1"

## non-wasm dependencies; these dependencies and the respective code is
## only activated through non-default features, which the Kernel enables, but
## not the actors.
filecoin-proofs-api = { version = "10", features = ["opencl"], default_features = false, optional = true }
libsecp256k1 = { version = "0.7", optional = true }
bls-signatures = { version = "0.11", default-features = false, optional = true }
blockstore = { version = "0.1.0", path = "../lib/blockstore" }
anyhow = "1.0.51"

[dev-dependencies]
rand = "0.8"
rand_chacha = "0.3"
serde_json = "1.0.56"

[features]
default = []
crypto = ["libsecp256k1", "blst", "proofs"]
proofs = ["filecoin-proofs-api"]
secp256k1 = ["libsecp256k1"]
blst = ["bls-signatures/blst"]
pairing = ["bls-signatures/pairing"]

