[package]
name = "fvm_sdk"
description = "Filecoin Virtual Machine actor development SDK"
version = "0.6.0"
license = "MIT OR Apache-2.0"
authors = ["Protocol Labs", "Filecoin Core Devs"]
edition = "2018"
repository = "https://github.com/filecoin-project/ref-fvm"

[lib]
crate-type = ["lib"]

[dependencies]
cid = { version = "0.8.2", default-features = false }
fvm_shared = { version = "0.6.0", path = "../shared" }
## num-traits; disabling default features makes it play nice with no_std.
num-traits = { version = "0.2.14", default-features = false }
lazy_static = { version = "1.4.0", optional = true }
log = "0.4.14"
thiserror = "1.0.30"
fvm_ipld_encoding = { version = "0.1", path = "../ipld/encoding" }

[features]
default = ["debug"]
debug = ["lazy_static"]
