[package]
name = "fvm_sdk"
description = "Filecoin Virtual Machine actor development SDK"
version.workspace = true
license.workspace = true
edition.workspace = true
repository.workspace = true
authors = ["Protocol Labs", "Filecoin Core Devs"]

[lib]
crate-type = ["lib"]

[dependencies]
cid = { workspace = true }
## num-traits; disabling default features makes it play nice with no_std.
num-traits = { workspace = true, default-features = false }
lazy_static = { workspace = true }
log = { workspace = true }
thiserror = { workspace = true }
byteorder = { workspace = true }
fvm_shared = { workspace = true }
fvm_ipld_encoding = { workspace = true }

[features]
default = []
m2-native = []
