[package]
name = "fvm_conformance_tests"
description = "Filecoin Virtual Machine conformance tests"
version = "0.2.0"
authors = ["ChainSafe Systems <info@chainsafe.io>", "Protocol Labs", "Filecoin Core Devs"]
edition = "2021"
exclude = ["/test-vectors"]
publish = false
repository = "https://github.com/filecoin-project/ref-fvm"

[dependencies]
fvm_shared = { version = "2.6.0", path = "../../shared" }
fvm_ipld_hamt = { workspace = true }
fvm_ipld_amt = { workspace = true }
fvm_ipld_car = { workspace = true }
fvm_ipld_blockstore = { workspace = true }
fvm_ipld_encoding = { workspace = true }

anyhow = "1.0.47"
thiserror = "1.0.30"
num-traits = "0.2"
derive_builder = "0.12.0"
ahash = "0.8"
num-derive = "0.3.3"
cid = { workspace = true }
multihash = { workspace = true }
serde = { version = "1.0", features = ["derive"] }
serde_tuple = "0.5"
serde_repr = "0.1"
lazy_static = "1.4.0"
derive-getters = "0.3.0"
derive_more = "0.99.17"
replace_with = "0.1.7"
log = "0.4.14"
byteorder = "1.4.3"
futures = "0.3.19"
async-std = { version = "1.9", features = ["attributes"] }
wasmtime = { version = "10.0.1", default-features = false }
base64 = "0.21.2"
flate2 = { version = "1.0" }
colored = "2"
either = "1.6.1"
itertools = "0.11.0"
num_cpus = "1.13.1"
serde_json = { version = "1.0", features = ["raw_value"] }
walkdir = "2.3"
regex = { version = "1.8" }
ittapi-rs = { version = "0.3.0", optional = true }
libipld-core = { version = "0.16.0", features = ["serde-codec"] }
tar = { version = "0.4.38", default-features = false }
zstd = { version = "0.12.3", default-features = false }

[dependencies.fvm]
version = "2.6.0"
path = "../../fvm"
default-features = false
features = ["testing"]

[features]
vtune = ["wasmtime/vtune", "ittapi-rs"]

[dev-dependencies]
pretty_env_logger = "0.5.0"
criterion = { version = "0.5", features = ["async_std"] }

[[bin]]
name = "perf-conformance"
test = false
bench = false
required-features = ["vtune"]

[[bench]]
name = "bench_conformance"
harness = false

[[bench]]
name = "bench_conformance_overhead"
harness = false
