name: Continuous integration

on:
  push:
    branches:
      - master
  pull_request:

env:
  RUSTFLAGS: -Dwarnings

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
    - name: Checking out fvm
      uses: actions/checkout@v2
    - name: Installing Rust
      uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
      with:
        profile: minimal
        override: true
        components: rustfmt
    - name: Running fmt
      uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1.0.3
      with:
        command: fmt
        args: -- --check
  # build per-os and push to cache
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
          os: [ubuntu-latest, windows-latest, macos-latest]
    env:
      SCCACHE_CACHE_SIZE: 2G
      SCCACHE_DIR: ${{ github.workspace }}/.cache/sccache
      # CACHE_SKIP_SAVE: ${{ matrix.push == '' || matrix.push == 'false' }}
      CARGO_TERM_COLOR: always
    name: build ${{ matrix.os }}
    steps:
    - name: Checking out fvm
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: Installing Rust
      uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
      with:
        profile: minimal
        target: wasm32-unknown-unknown
        override: true
    - name: Generating Cargo.lock
      uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1.0.3
      with:
        command: generate-lockfile
    - name: Setting up cache
      uses: ./.github/actions/rust-sccache
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        version: v0.2.15
        # change this to invalidate sccache for this job
        shared-key: v1
    - name: Running Build
      uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1.0.3
      with:
        command: build

  cargo:
    needs: [rustfmt, build]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - name: check-clippy
            command: clippy
            args: --all --all-targets
            components: clippy
          - name: test-fvm
            covname: fvm-lcov.info
            command: llvm-cov
            args: --package fvm --no-default-features --lcov --output-path fvm-lcov.info
            components: llvm-tools-preview
          - name: test
            covname: lcov.info
            command: llvm-cov
            args: --all --exclude fvm --exclude fvm_conformance_tests --exclude fvm_integration_tests --exclude "*actor" --lcov --output-path lcov.info
            components: llvm-tools-preview
          - name: integration
            command: test
            args: --package fvm_integration_tests --package "*actor"
          - name: conformance
            command: test
            args: --package fvm_conformance_tests
            submodules: true
    env:
      SCCACHE_CACHE_SIZE: 2G
      SCCACHE_DIR: ${{ github.workspace }}/.cache/sccache
      CACHE_SKIP_SAVE: true
      CARGO_TERM_COLOR: always
      CARGO_INCREMENTAL: 1
    name: ${{ matrix.name }}
    steps:
    - name: Checking out fvm
      uses: actions/checkout@v2
      with:
        submodules: ${{ matrix.submodules }}
    - name: Installing Rust
      uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
      with:
        profile: minimal
        target: wasm32-unknown-unknown
        override: true
        components: ${{ matrix.components }}
    # we don't check the lockfile in; this is needed for cache restoration/saving
    - name: Generating Cargo.lock
      uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1.0.3
      with:
        command: generate-lockfile
    - name: Installing Cargo llvm-cov
      if: ${{ matrix.covname }}
      uses: taiki-e/install-action@bc0a06a003a8225fe3e896c9ed3a4c3cc2e8416a
      with:
        tool: cargo-llvm-cov@0.4.5
    - name: Setting up cache
      uses: ./.github/actions/rust-sccache
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        version: v0.2.15
        # change this to invalidate sccache for this job
        shared-key: v1
    - name: Running ${{ matrix.command }}
      uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1.0.3
      with:
        command: ${{ matrix.command }}
        args: ${{ matrix.args }}
    - name: Upload coverage to Codecov
      if: ${{ matrix.covname }}
      uses: codecov/codecov-action@81cd2dc8148241f03f5839d295e000b8f761e378
      with:
        files: ${{ matrix.covname }}
        fail_ci_if_error: true
